<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <ul>
        <% about.forEach((about)=> { %>
            <li>
                <h2>
                    <%= about.title %>
                </h2>
                <p>
                    <%= about.body %>
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>
</body>

<%- include('../partials/footer') %>