<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>Hi, <%= user.firstName  %> <%= user.lastName %></h1>
    <h2>Welcome to the website</h2>
    <p>Company information here</p>
</div>

<%- include('../partials/footer') %>