<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <div class="container">
        <ul>
            <% about.forEach((about)=> { %>
                <li>
                    <h2>
                        <%= about.title %>
                    </h2>
                    <p>
                        <%= about.body %>
                    </p>
                </li>
                <hr />
            <% }) %>
        </ul>
    </div>
</body>

<%- include('../partials/footer') %>